
@{
    ViewData["Title"] = "DeleteComplete";
}

<h2>Your Post is received</h2>

<div class="form-group">
    <div class="col-md-5">
        <a asp-controller="News" asp-action="Index"><input type="button" class="btn btn-primary" value="Click Here return to NewsPage" /></a>

    </div>
</div>
