@model WebUser
<h2>Hello</h2>
<div class="tab-content profile-tab" id="myTabContent">
    <div class="row">
        <div class="col-md-4">
            <label>User Name</label>
        </div>
        <div class="col-md-4">
            @Model.UserName
        </div>
        <div class="col-md-4">
            <a asp-controller="Account" asp-action="Update" asp-route-id="UserName" class="btn btn-primary" style="width:40%">Change User Name</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Email</label>
        </div>
        <div class="col-md-4">
            @Model.Email
        </div>
        <div class="col-md-4">
            <a asp-controller="Account" asp-action="Update" asp-route-id="Email" style="width:40%" class="btn btn-primary">Update Email</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Phone</label>
        </div>
        <div class="col-md-4">
            @Model.Phone
        </div>
        <div class="col-md-4">
            <a asp-controller="Account" asp-action="Update" asp-route-id="Phone" style="width:40%" class="btn btn-primary">Update Phone</a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <label>Password</label>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <a asp-controller="Account" asp-action="Update" asp-route-id="Password" style="width:40%" class="btn btn-primary">Change Password</a>
        </div>
    </div>
</div>
