@*Feng reviewed 1/3*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li><a asp-controller="News" asp-action="Index" class="navbar-brand">Power Spring</a></li>   @*Link To Home*@
                    @*_Pie files*@
                    @*<li><a asp-controller="News" asp-action="Index">News</a></li>
                    <li><a asp-controller="Feedback" asp-action="Index">Feedback</a></li>*@
                    <li><a asp-controller="Forum" asp-action="Index">Forum</a></li>
                    <li><a asp-controller="Account" asp-action="Index">Account</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                    }
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-controller="Account" asp-action="Logout">Log off</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Register" asp-route-ReturnUrl="@Context.Request.Path">Register</a></li>
                        <li><a asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Context.Request.Path">Log in</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>

