<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-sm-4" style="background-color:lavender;" style="word-break:break-all; word-wrap:break-all;">
                <h3>OUR PURPOSE </h3>
                <br><br>
                <h4><p>Feeling Dismay?Frustrated? Headache?Losing power?Running low power? Feeling Dismay?Frustrated? Headache?Losing power?Running low power?</p></h4>
                <br><br>
                <h4><p>Here to check your power level, to resume your power and to enhance your power!</p></h4>
            </div>


            <div class="col-sm-6" style="background-color:lavenderblush;">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#section2">
                            <div class="row">
                                <div class="col-sm-4" style="background-color:lavender;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Mental_Disorder_Silhouette.png/800px-Mental_Disorder_Silhouette.png" class="img-thumbnail" alt="Cinque Terre" width="150" height="100"> </div>
                                <div class="col-sm-4" style="background-color:lavender;"><img src="https://www.compasshealth.org/wp-content/uploads/2018/04/algee-transparent-247x300.png" class="img-thumbnail" alt="Cinque Terre" width="150" height="100"> </div>
                                <div class="col-sm-4" style="background-color:lavender;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNCcQ91OzpxYcgAo6VsvXs-HmNsepoQL-moWSluO0eubf4R4rC" class="img-thumbnail" alt="Cinque Terre" width="150" height="100"> </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#section2">
                            <div class="row">
                                <div class="col-sm-4" style="background-color:lavender;"><img src="https://s3.amazonaws.com/wmnf/wp-content/uploads/2018/10/mental-health-2019924_960_720.jpg" class="img-thumbnail" alt="Cinque Terre" width="150" height="100"> </div>
                                <div class="col-sm-4" style="background-color:lavender;"><img src="http://mhah.org/wp-content/uploads/2015/04/Infographic-B4Stage4-Changing-the-Way-We-Think-About-Mental-Health-2.png" class="img-thumbnail" alt="Cinque Terre" width="150" height="100"> </div>
                                <div class="col-sm-4" style="background-color:lavender;"><img src="http://news.cornell.edu/sites/chronicle.cornell/files/MentalHealthFrame_1.jpg" class="img-thumbnail" alt="Cinque Terre" width="120" height="80"> </div>
                            </div>
                        </a>
                    </li>
                </ul><br>
            </div>
        </div>
    </div>

</body>
</html>