
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='BEEPRESSCSS-css' href='http://faithtech.yangqiguang.com/wp-content/plugins/beepress/lib/beepress.css?ver=5.8.0' type='text/css' media='screen' />
    <link rel='stylesheet' id='es-widget-css-css' href='http://faithtech.yangqiguang.com/wp-content/plugins/email-subscribers/widget/es-widget.css?ver=4.9.9' type='text/css' media='all' />
    <link rel='stylesheet' id='google-maps-builder-plugin-styles-css' href='http://faithtech.yangqiguang.com/wp-content/plugins/google-maps-builder/vendor/wordimpress/maps-builder-core/assets/css/google-maps-builder.min.css?ver=2.1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='google-maps-builder-map-icons-css' href='http://faithtech.yangqiguang.com/wp-content/plugins/google-maps-builder/vendor/wordimpress/maps-builder-core/includes/libraries/map-icons/css/map-icons.css?ver=2.1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='twentyseventeen-fonts-css' href='https://fonts.googleapis.com/css?family=Libre+Franklin%3A300%2C300i%2C400%2C400i%2C600%2C600i%2C800%2C800i&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='twentyseventeen-style-css' href='http://faithtech.yangqiguang.com/wp-content/themes/twentyseventeen/style.css?ver=4.9.9' type='text/css' media='all' />
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='twentyseventeen-ie8-css'  href='http://faithtech.yangqiguang.com/wp-content/themes/twentyseventeen/assets/css/ie8.css?ver=1.0' type='text/css' media='all' />
    <![endif]-->
    <link rel='stylesheet' id='elementor-icons-css' href='http://faithtech.yangqiguang.com/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=3.8.0' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='http://faithtech.yangqiguang.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css?ver=4.7.0' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-animations-css' href='http://faithtech.yangqiguang.com/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=2.2.7' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css' href='http://faithtech.yangqiguang.com/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.2.7' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-global-css' href='http://faithtech.yangqiguang.com/wp-content/uploads/elementor/css/global.css?ver=1541353893' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-188-css' href='http://faithtech.yangqiguang.com/wp-content/uploads/elementor/css/post-188.css?ver=1541356807' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css' href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7COvo%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=4.9.9' type='text/css' media='all' />

 <div id="page" class="site">

        <div class="site-content-contain">
            <div id="content" class="site-content">

                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">

                        <article id="post-188" class="twentyseventeen-panel  post-188 page type-page status-publish hentry">


                            <div class="panel-content">
                                <div class="wrap">
                                    <header class="entry-header"></header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <div class="elementor elementor-188">
                                            <div class="elementor-inner">
                                                <div class="elementor-section-wrap">
                                                    <section data-id="4c4a9ca1" class="elementor-element elementor-element-4c4a9ca1 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                                        <div class="elementor-container elementor-column-gap-default">
                                                            <div class="elementor-row">
                                                                <div data-id="2a67420f" class="elementor-element elementor-element-2a67420f elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div data-id="3658689" class="elementor-element elementor-element-3658689 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <h2 class="elementor-heading-title elementor-size-large">Our <br>Purpose</h2>
                                                                                </div>
                                                                            </div>
                                                                            <div data-id="4b670dfa" class="elementor-element elementor-element-4b670dfa elementor-widget elementor-widget-divider" data-element_type="divider.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-divider">
                                                                                        <span class="elementor-divider-separator"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div data-id="2fa0b726" class="elementor-element elementor-element-2fa0b726 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-text-editor elementor-clearfix"><h3><span style="color: #dfc15e;"><strong>Feeling Dismay?Frustrated?  Headache?Losing power?Running low power?</strong></span></h3><h3><span style="color: #dfc15e;"><strong>Here to check your power level, to resume your power and to enhance your power!</strong></span></h3></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="3454de7e" class="elementor-element elementor-element-3454de7e elementor-sm-100 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div data-id="5d7943d9" class="elementor-element elementor-element-5d7943d9 gallery-spacing-custom elementor-widget elementor-widget-image-gallery" data-element_type="image-gallery.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-image-gallery">
                                                                                        <div id='gallery-1' class='gallery galleryid-188 gallery-columns-3 gallery-size-thumbnail'>
                                                                                            <figure class='gallery-item'>
                                                                                                <div class='gallery-icon landscape'>
                                                                                                    <img width="150" height="150" src="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/images-1-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" srcset="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/images-1-150x150.jpg 150w, http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/images-1-100x100.jpg 100w" sizes="100vw" /></img>
                                                                                                </div>
                                                                                            </figure><figure class='gallery-item'>
                                                                                                         <div class='gallery-icon landscape'>
                                                                                                             <img width="150" height="150" src="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/images-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" srcset="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/images-150x150.jpg 150w, http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/images-100x100.jpg 100w" sizes="100vw" /></img>
                                                                                                         </div>
                                                                                            </figure><figure class='gallery-item'>
                                                                                                         <div class='gallery-icon landscape'>
                                                                                                             <img width="150" height="150" src="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/MentalHealth_Flickr-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" srcset="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/MentalHealth_Flickr-150x150.jpg 150w, http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/MentalHealth_Flickr-100x100.jpg 100w" sizes="100vw" /></img>
                                                                                                         </div>
                                                                                            </figure><figure class='gallery-item'>
                                                                                                         <div class='gallery-icon landscape'>
                                                                                                             <img width="150" height="150" src="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/Mental-Health-1st-Aid-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" srcset="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/Mental-Health-1st-Aid-150x150.jpg 150w, http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/Mental-Health-1st-Aid-100x100.jpg 100w" sizes="100vw" /></img>
                                                                                                         </div>
                                                                                            </figure><figure class='gallery-item'>
                                                                                                         <div class='gallery-icon landscape'>
                                                                                                             <img width="150" height="150" src="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/mental-health-physical-health-150x150.jpg" class="attachment-thumbnail size-thumbnail" alt="" srcset="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/mental-health-physical-health-150x150.jpg 150w, http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/mental-health-physical-health-100x100.jpg 100w" sizes="100vw" /></img>
                                                                                                         </div>
                                                                                            </figure><figure class='gallery-item'>
                                                                                                <div class='gallery-icon portrait'>
                                                                                                    <img width="150" height="150"  src="http://faithtech.yangqiguang.com/wp-content/uploads/2018/11/250px-Mental_Disorder_Silhouette-150x150.png" class="attachment-thumbnail size-thumbnail" alt="" sizes="100vw" /></a>
                                                                                                </div>
                                                                                            </figure>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section data-id="9acb30e" class="elementor-element elementor-element-9acb30e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
                                                        <div class="elementor-container elementor-column-gap-default">
                                                            <div class="elementor-row">
                                                                <div data-id="6dcf683" class="elementor-element elementor-element-6dcf683 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div data-id="81dcc8c" class="elementor-element elementor-element-81dcc8c elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-text-editor elementor-clearfix"><h2 style="line-height: 1; margin-bottom: 0px; color: #dfc15e; font-size: 54px; font-weight: 600; font-family: Ovo, sans-serif; text-transform: uppercase; letter-spacing: -2px;" data-elementor-setting-key="title" data-pen-placeholder="Type Here...">Emergency</h2><div> </div><div> </div></div>
                                                                                </div>
                                                                            </div>
                                                                            <div data-id="9647a0a" class="elementor-element elementor-element-9647a0a elementor-widget elementor-widget-icon-list" data-element_type="icon-list.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <ul class="elementor-icon-list-items">
                                                                                        <li class="elementor-icon-list-item">
                                                                                            <span class="elementor-icon-list-icon">
                                                                                                <i class="fa fa-phone" aria-hidden="true"> 
                                                                                                </i>
                                                                                            </span>
                                                                                            <span class="elementor-icon-list-text"><b><font color="#dfc15e">911</font></b></span>
                                                                                        </li>
                                                                                        <li class="elementor-icon-list-item">
                                                                                            <span class="elementor-icon-list-icon">
                                                                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                                                            </span>
                                                                                            <span class="elementor-icon-list-text"><b><font color="#dfc15e">800-273-8255</font></b></span>
                                                                                        </li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div data-id="7ca68e4" class="elementor-element elementor-element-7ca68e4 elementor-column elementor-col-50 elementor-top-column" data-element_type="column">
                                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                                        <div class="elementor-widget-wrap">
                                                                            <div data-id="0a85c44" class="elementor-element elementor-element-0a85c44 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                                <div class="elementor-widget-container">
                                                                                    <div class="elementor-text-editor elementor-clearfix"><h4> </h4><h4><span style="color: #dfc15e;">Whenever you got the whimsical idea impairing your life, you must stop and see medical doctors or even call 911 to ask for help!</span></h4></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .entry-content -->

                                </div><!-- .wrap -->
                            </div><!-- .panel-content -->

                        </article><!-- #post-## -->


                    </main><!-- #main -->
                </div><!-- #primary -->


            </div><!-- #content -->

            <footer id="colophon" class="site-footer" role="contentinfo">
                <div class="wrap">

                </div><!-- .wrap -->
            </footer><!-- #colophon -->
        </div><!-- .site-content-contain -->
    </div><!-- #page -->


