
@{
    ViewData["Title"] = "BlockComplete";
}

<h2>Block Successful!</h2>

<div class="form-group">
    <div class="col-md-5">
        <a asp-controller="Forum" asp-action="Index"><input type="button" class="btn btn-primary" value="Click Here return to BBS" /></a>

    </div>
</div>

