
@{
    ViewData["Title"] = "PowerSpring BBS";
}

<h2>This Forum is goin to be built by Frank</h2>
<div class="form-group">
    <div class="col-md-5">
        <a asp-controller="Forum" asp-action="NewPost"><input type="button" class="btn btn-primary" value="Start New Post" /></a>
        
    </div>
</div>


<div class="col-sm-12 col-lg-12 col-md-12">

    <div>
        <h3 class="push-right">This is a comment title</h3>
        <p>
            This is a comment
        </p>
        <div>
            <p>this should be a reply</p>
        </div>

    </div>

</div>