
@model ThreadViewModel

@{
    ViewData["Title"] = "PowerSpring BBS";
}

<h2>This Forum is goin to be built by Frank</h2>
<div class="form-group">
    <div class="col-md-5">
        <a asp-controller="Forum" asp-action="NewPost"><input type="button" class="btn btn-primary" value="Start New Post" /></a>

    </div>
</div>

@foreach (var bbsThread in Model.BBSThreads)
{
    <div class="col-sm-12 col-lg-12 col-md-12">

    <div>
        <h3 class="push-right" >@bbsThread.Title</h3>
        <p>
            @bbsThread.Content
        </p>
        <div class="col-md-offset-5 col-md-5">
            <a asp-controller="Reply" asp-action="NewReply" asp-route-id=@bbsThread.Id><input type="button" class="btn btn-primary" value="Reply" /></a>
        </div>

    </div>

</div>
}
