@using PowerSpring.Models.Forum
@model Reply

@{
    ViewData["Title"] = "NewReply";
}

@*<h2>@Model.bbsThread.Title</h2>
    <h2>@Model.bbsThread.Content</h2>*@
<form asp-action="NewReply" method="post" class="form-horizontal blockDisplay" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Content" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Reply">
        </div>
    </div>

</form>